.Wrapper {
  position: fixed;
  min-width: 20%;
  min-height: 30%;
  border-radius: 10%;
  top: 20%;
  left: 2%;
  background-color: white;
  box-shadow: 0px 0px 17px -7px rgba(0, 0, 0, 1);
}
.pFinishedTasks {
  text-align: center;
  padding: 1rem;
}
.pFinishedTasks::after {
  display: block;
  content: "";
  width: 100%;
  border-bottom: 3px solid gray;
}
li {
  list-style-type: none;
  text-align: center;
}
